.header {
    color: red;
    font-size: 2em;
    text-align: center;
}

p {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
    margin: 15px;
}

body {
    background: rgba(200, 255, 200, 1) ;
}
